#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define MOUSE 1
#define LEFT_NUMS 2
#define RIGHT_NUMS 3
#define FUNCTION 4
#define NO_HRM 5

#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29
#define THUMBS 30 31 32 33 34 35

&sl {
  ignore-modifiers;
};

&caps_word {
  /delete-property/ ignore-modifiers;
};

/ {
  behaviors {
    hml: hml {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      require-prior-idle-ms = <250>;
      // hold-trigger-key-positions = <KEYS_R THUMBS>;
      hold-trigger-on-release;
      bindings =
        <&kp>,
        <&kp>;
    };

    hmr: hmr {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "tap-preferred";
      tapping-term-ms = <200>;
      quick-tap-ms = <0>;
      require-prior-idle-ms = <250>;
      // hold-trigger-key-positions = <KEYS_L THUMBS>;
      hold-trigger-on-release;
      bindings =
        <&kp>,
        <&kp>;
    };
  };

  combos {
    compatible = "zmk,combos";
    timeout-ms = <20>;
    require-prior-idle-ms = <250>;

        combo_01 {
            timeout-ms = <30>;
            key-positions = <0 1>;
            bindings = <&kp GRAVE>;
        };

        combo_rt {
            timeout-ms = <30>;
            key-positions = <3 4>;
            bindings = <&kp LBKT>;
        };

        combo_yu {
            timeout-ms = <30>;
            key-positions = <7 8>;
            bindings = <&kp RBKT>;
        };

        combo_fg {
            timeout-ms = <30>;
            key-positions = <15 16>;
            bindings = <&kp LBRC>;
        };

        combo_hj {
            timeout-ms = <30>;
            key-positions = <19 20>;
            bindings = <&kp RBRC>;
        };

        combo_vb {
            timeout-ms = <30>;
            key-positions = <27 28>;
            bindings = <&kp PIPE>;
        };

        combo_nm {
            timeout-ms = <30>;
            key-positions = <31 32>;
            bindings = <&kp BSLH>;
        };

        combo_10_11 {
            timeout-ms = <30>;
            key-positions = <10 11>;
            bindings = <&kp DEL>;
        };

        combo_toggle_nohrm {
            timeout-ms = <30>;
            key-positions = <0 11>;
            bindings = <&to NO_HRM>;
        };

        combo_back_to_base {
            timeout-ms = <30>;
            key-positions = <1 10>;
            bindings = <&to BASE>;
        };
  };
  chosen {
    zmk,physical-layout = &charybdis_6col_layout;
  };

  keymap {
    compatible = "zmk,keymap";

    Base {
      display-name = "Base";
      bindings = <
        &kp ESCAPE      &kp Q           &kp W           &kp E           &kp R           &kp T               &kp Y       &kp U           &kp I           &kp O           &kp P               &kp BSPC
        &kp TAB         &hml LSHFT A    &hml LCTRL S    &hml LALT D     &hml LGUI F     &kp G               &kp H       &hmr RGUI J     &hmr RALT K     &hmr RCTRL L    &hmr RSHFT SEMI     &kp APOS
        &kp LSHFT       &kp Z           &kp X           &kp C           &kp V           &kp B               &kp N       &kp M           &kp COMMA       &kp DOT         &kp FSLH            &kp RSHFT
                                                        &mo 4           &mo 2           &kp SPACE           &kp RET     &mo 3
      >;
    };

    Mouse {
      display-name = "Mouse";
      bindings = <
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans          &trans          &trans          &trans      &trans
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &mkp MB1        &mkp MB2        &mkp MB3        &trans      &trans
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans          &trans          &trans          &trans      &trans
                                            &mkp MB2    &mkp MB1    &trans              &trans      &trans
      >;
    };

    L_nums {
      display-name = "Left_nums";
      bindings = <
        &kp F1      &kp F2      &kp F3      &kp F4      &kp F5      &kp F6              &kp N7      &kp N8      &kp N9      &kp N0      &kp MINUS       &kp EQUAL
        &trans      &trans      &trans      &trans      &trans      &trans              &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT   &trans          &trans
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans          &trans
                                            &trans      &trans      &trans              &trans      &trans
      >;
    };

    R_nums {
      display-name = "Right_nums";
      bindings = <
        &kp N1      &kp N2      &kp N3      &kp N4      &kp N5      &kp N6              &kp F7      &kp F8      &kp F9      &kp F10     &kp F11         &kp F10
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans          &trans
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans          &trans
                                            &trans      &trans      &trans              &trans      &trans
      >;
    };

    Fun {
      display-name = "Function";
      bindings = <
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans          &trans          &trans          &trans      &trans
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans          &trans          &trans          &trans      &trans
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans          &trans          &trans          &trans      &trans
                                            &trans      &trans      &trans              &trans      &trans
      >;
    };

    NO_HRM {
      display-name = "NO_HRM";
      bindings = <
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans          &trans
        &trans      &kp A       &kp S       &kp D       &kp F       &trans              &trans      &kp J       &kp K       &kp L       &kp SEMI        &trans
        &trans      &trans      &trans      &trans      &trans      &trans              &trans      &trans      &trans      &trans      &trans          &trans
                                            &trans      &trans      &trans              &trans      &trans
      >;
    };
  };
};